header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: white;
}

.container {
    display: flex;
    width: 1200px;
    height: 100%;
}

.logo {
    width: 200px;
    display: flex;
    align-items: center;

}

.logo img {
    width: 150px;
    cursor: pointer;
}

.navbar {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
}

ul {
    display: flex;
    gap: 20px;

    a {
        font-size: 15px;
        font-family: "Montserrat";
        font-weight: 600;
        display: flex;
        align-items: center;
        height: 100px;
        color: #999;
        border-bottom: 4px solid transparent;

        &:hover {
            border-bottom: 4px solid #b98b59;
            color: white;
            transition: all 0.2s ease;
        }
    }

    .active {
        border-bottom: 4px solid #b98b59;
        color: white;
    }
}

#banner {
    height: calc(100vh - 100px);
    background-image: url(../assets/images/bg.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    overflow: hidden;
}

.sliders {
    width: 300%;
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
}

.slide {
    width: 100vw;
    height: 100%;
}

.teste1 {
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
}

.slidearea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.tex-desi {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 80px;
}

.tex-comm {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 80px;
    color: #b88a58;
    position: relative;
    bottom: 45px;
}

.slidearea h3 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 23px;
    position: relative;
    bottom: 43px;
}

.slidearea a {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 13px;
    background-color: #b98b59;
    padding: 14px 55px;
    border-radius: 30px;

    &:hover {
        background-color: #373737;
        transition: all 0.5s ease;
    }
}

.sliders-pointer {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pointer {
    width: 15px;
    height: 15px;
    border-radius: 8px;
    border: 2px solid #b88a58;
    margin-left: 10px;
    cursor: pointer;
    
    &:hover {
        background-color: #b98b59;
    }
}

#banner .active {
    background-color: #b88a58;
}

#defal-light {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#defal-light .container {
    flex-direction: column;
    justify-content: center;
}

#defal-light .widget-title {
    text-align: center;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 40px;
    margin-top: 20px;
    position: relative;
    bottom: 25px;
}

#defal-light .widget-desc {
    margin-bottom: 20px;
    text-align: center;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 20px;
    color: #afafaf;
    position: relative;
    bottom: 25px;
}

#defal-light .widget-body {
    height: 300px;
    display: flex;
    margin-bottom: 20px;
}

.body-text {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: 300;

    & a {
        margin-top: 30px;
        background-color: #b98b59;
        padding: 15px 60px;
        border-radius: 20px;
        color: white;
        position: relative;
        right: 177px;

        &:hover {
            background-color: #373737;
            transition: all 0.3s ease;
        }
    }
}

.body-video {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;

    & img {
        width: 500px;
        box-shadow: 1px 10px 18px rgba(0, 0, 0, 0.6);
        cursor: pointer;
        background-color: transparent;

        &:hover {
            transform: scale(1.1);
            transition: all 0.6s ease;
        }
    }
}

#defal-dark {
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    background-color: #000000;
    color: white;
}

#defal-dark .container {
    flex-direction: column;
}

#defal-dark .widget-titl {
    text-align: center;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 40px;
    margin-top: 20px;
}

#defal-dark .widget-descri {
    margin-bottom: 20px;
    text-align: center;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 20px;
    color: #aeaeae;
    margin-bottom: 40px;
}

#defal-dark .widget-body {
    height: 250px;
    background-color: #CCC;
    display: flex;
    margin-bottom: 40px;
}

.widget-body h1 {
    font-size: 25px;
    text-align: center;
    margin-top: 40px;
}

.widget-body p {
    font-size: 15px;
    text-align: center;
    color: #797979;
}

#defal-dark .widget-body img {
    width: 75px;
    cursor: pointer;

    &:hover {
        scale: 1.1;
    }
}

.widget-body .high,
.modern,
.regular,
.fast {
    flex: 1;
    background-color: #000;
    color: white;

}

.high,
.modern,
.regular,
.fast {
    flex-direction: column;
    border-right: 2px solid #383838;
    display: flex;
    align-items: center;
    padding: 0px 50px;
}

.high {
    border-right: 2px solid #383838;
    border-left: 2px solid #383838;
}

.coco {
    height: 100vh;
}

#section-projects {
    height: 100vh;
    display: flex;
    justify-content: center;
}

#section-projects .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#section-projects .widget-title {
    text-align: center;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 40px;
    margin-top: 20px;

}

#section-projects .widget-desc {
    margin-bottom: 20px;
    text-align: center;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 20px;
    color: #aeaeae;
    margin-bottom: 30px;
}

.options-bar {
    display: inline-flex;
    margin-bottom: 40px;
}

.options-bar .ul {
    display: flex;
    border: 1px solid #cfcfcf;
    background-color: #ededed;
    border-radius: 30px;
    overflow: hidden;
}

.options-bar li {
    padding: 12px 10px;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    border-left: 1px solid #cfcfcf;

    & a {
        font-size: 15px;
        font-family: "Montserrat";
        font-weight: 600;
        display: flex;
        align-items: center;
        height: 20px;
        color: #606060;
        border-bottom: 8px solid transparent;
        padding-bottom: 30px;
        position: relative;
        top: 16px;
        padding-left: 20px;
        padding-right: 20px;

        &:hover {
            border-bottom: 8px solid #b98b59;
            transition: all 0.2s ease;
        }
    }
}

.options-bar li:first-child {
    padding-left: 45px;
}

.options-bar li:last-child {
    padding-right: 45px;
}

#section-projects .widget-body {
    display: grid;
    width: 100%;
    height: auto;
    gap: 20px;
    grid-template-columns: 285px 285px 285px 285px;
    grid-template-rows: 178.133px 178.133px 178.133px;

}

.background {
    position: relative;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.6);
}

#section-projects .image {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    &:hover p{
        display: flex;
    }
    &:hover span{
        display: flex;
    }
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.0);
    }
    &:hover::after{
        background-color: rgba(0, 0, 0, 0.6);
    }
}


#section-projects .image span{
    position: absolute;
    z-index: 2;
    color: white;
    top: 30px;
    font-size: 25px;
    display: none;
}
#section-projects .image p{
    position: absolute;
    z-index: 1;
    color: white;
    padding: 10px;
    display: none;
}

#section-projects .image img {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
}


#section-projects .more-projects-button {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 14px;
    color: white;
    background-color: #b98b59;
    position: relative;
    top: 20px;
    padding: 15px 40px;
    border-radius: 16px;

    &:hover {
        background-color: #373737;
        transition: all 0.4s ease;

    }
}
#our-team {
    height: 100vh;
    background-image: url(../assets/images/bg-slide2.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    overflow: hidden;
}

.sliders {
    width: 300%;
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
}

.slide {
    width: 100vw;
    height: 100%;
}

.slidearea {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

#our-team .container{
    flex-direction: column;
    align-items: center;
}
#our-team .widget-titl{
    margin-top: 40px;
    color: white;
    font-size: 40px;
    font-family: "Montserrat";
    font-weight: 700;
}
#our-team .widget-descri{
    color: #afafaf;
    font-size: 20px;
    font-family: "Montserrat";
    font-weight: 600;
}
#our-team .widget-body{
    margin-top: 50px;
    width: 100%;
    height: 60%;
    display: flex;
    gap: 30px;
    position: relative;
}
#our-team .card1{
    flex: 1;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & img{
        cursor: pointer;
    }
    & h1{
        color: #242424;
        font-size: 30px;
        font-family: "Montserrat";
        font-weight: 400;
    }
    & p{
        color: #242424;
        font-size: 16px;
        font-family: "Montserrat";
        font-weight: 300;
    }
}
#our-team .card2{
    flex: 1;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & img{
        cursor: pointer;
    }
    & h1{
        color: #242424;
        font-size: 30px;
        font-family: "Montserrat";
        font-weight: 400;
    }
    & p{
        color: #242424;
        font-size: 16px;
        font-family: "Montserrat";
        font-weight: 300;
    }
}
#our-team .card3{
    flex: 1;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & img{
        cursor: pointer;
    }
    & h1{
        color: #242424;
        font-size: 30px;
        font-family: "Montserrat";
        font-weight: 400;
    }
    & p{
        color: #242424;
        font-size: 16px;
        font-family: "Montserrat";
        font-weight: 300;
    }
}

.redes-sociais{
    margin-top: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    & img{
        background-color: transparent;
        border-radius: 30px;
        overflow: hidden;
        right: 5px;
        cursor: pointer;
    }
}
#our-team a{
    padding: 0px;
    border: #bebebe;
}

.contain{
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -100px;
}

.bola {
    width: 15px;
    height: 15px;
    border-radius: 8px;
    border: 2px solid #b88a58;
    margin-left: 10px;
    cursor: pointer;
    
    &:hover {
        background-color: #b98b59;
    }
}
#our-team .active{
    background-color: #b98b59;
}