header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: white;
}

.container {
    display: flex;
    width: 1200px;
    height: 100%;
}

.logo {
    width: 200px;
    display: flex;
    align-items: center;

}

.logo img{
    width: 150px;
    cursor: pointer;
}

.navbar {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
}

ul {
    display: flex;
    gap: 20px;

    a {
        font-size: 15px;
        font-family: "Montserrat";
        font-weight: 600;
        display: flex;
        align-items: center;
        height: 100px;
        color: #999;
        border-bottom: 4px solid black;

        &:hover {
            border-bottom: 4px solid #b98b59;
            color: white;
            transition: all 0.4s ease;
        }
    }
    .active{
        border-bottom: 4px solid #b98b59;
        color: white;
    }
}

#banner{
    height: calc(100vh - 100px);
    background-image: url(../assets/images/bg.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    overflow: hidden;
}
#banner .sliders{
    width: 300%;
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
}
#banner .slide {
    width: 100vw;
    height: 100%;
}

.teste1{
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
}

.slidearea{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.tex-desi{
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 80px;
}
.tex-comm{
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 80px;
    color: #b88a58;
    position: relative;
    bottom: 45px;
}
.slidearea h3{
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 23px;
    position: relative;
    bottom: 43px;
}
.slidearea a{
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 13px;
    background-color: #b98b59;
    padding: 14px 55px;
    border-radius: 30px;
    &:hover{
        background-color: #373737;
        transition: all 0.5s ease;
    }
}
.sliders-pointer{
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#banner .pointer{
    width: 15px;
    height: 15px;
    border-radius: 8px;
    border: 2px solid #b88a58;
    margin-left: 10px;
    cursor: pointer;
}
#banner .active{
    background-color: #b88a58;
}
#defal-light{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#defal-light .container{
    flex-direction: column;
}
#defal-light .widget-title{
    text-align: center;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 40px;
    margin-top: 20px;
}
#defal-light .widget-desc{
    margin-bottom: 20px;
    text-align: center;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 20px;
    color: #afafaf;
}
#defal-light .widget-body{
    height: 350px;
    display: flex;
}
.body-text{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: 300;
    & a{
        margin-top: 30px;
        background-color: #b98b59;
        padding: 15px 60px;
        border-radius: 20px;
        color: white;
        &:hover{
            background-color: #373737;
            transition: all 0.3s ease;
        }
    }
}
.body-video{
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    & img{
        width: 500px;
        box-shadow: 1px 10px 18px rgba(0, 0, 0, 0.6);
        cursor: pointer;
        background-color: transparent;
        &:hover{
            transform: scale(1.1);
            transition: all 0.6s ease;
        }
    }
}
#defal-dark{
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    background-color: #000000;
    color: white;
}
#defal-dark .container{
    flex-direction: column;
}
#defal-dark .widget-title{
    text-align: center;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 40px;
    margin-top: 20px;
}
#defal-dark .widget-desc{
    margin-bottom: 20px;
    text-align: center;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 20px;
    color: #aeaeae;
    margin-bottom: 50px;
}
#defal-dark .widget-body{
    height: 250px;
    background-color: #CCC;
    display: flex;
}
.widget-body h1{
    font-size: 25px;
    text-align: center;
    margin-top: 40px;
}
.widget-body p{
    font-size: 15px;
    text-align: center;
    color: #797979;
}
#defal-dark .widget-body img{
    width: 75px;
    cursor: pointer;
    &:hover{
        scale: 1.1;
    }
}

.widget-body .high, .modern, .regular, .fast{
    flex: 1;
    background-color: #000;
    color: white;
}
.high, .modern, .regular, .fast{
    flex-direction: column; 
    border-right: 2px solid #383838;
    display: flex;
    align-items: center;
    padding: 0px 50px;
}
.high{
    border-right: 2px solid #383838;
    border-left: 2px solid #383838;
}